body{
   font-family: Helvetica, Arial, sans-serif;
   background-color: #f0f2f5;
}
form {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    height: 300px;
    width: 350px;
    padding: 10px 20px;
    margin: 150px auto;
    border-radius: 5px;
    

}
img{
    position: absolute;
    margin-left: 40.7%;
    margin-top: -6.3%;
    display: block;
    width: 230px;
}

.email ::placeholder{
    font-size:17px;
}
.pass ::placeholder{
    font-size: 17px;
}
p{
    text-align: center;
    image-resolution: 500;
    
}
input{
    width: 100%;
    margin: 7px -5px;
    font-size: 20px;
    padding: 15px;
    border: 2px solid rgb(240, 242, 245);
    box-sizing: border-box;
    border-radius: 7px;


}
input:focus{
    outline: 0;  
    font-size: 20px;

}

button{
    text-align: center;
    color: white;
    border: none;
    background-color: rgb(24, 119, 242);
    width: 100%;
    font-size:20px;
    font-weight: 700;
    margin: 5px -5px;
    border-radius: 7px;
    padding: 10px
    
}
button:hover{
    cursor: pointer;
}

a{
    padding: 9px;
    font-size: 14px;
    margin-left: 15px;
    /* margin-top: 15px; */
    text-decoration: none;
    color: rgb(24, 119, 242);
}
.reg{
    margin-left: -13px;
}
.a{
    margin-top: 13px;
    
}

/* .eye{
    position:absolute;
    font-size: 20px;
    margin: -45px;
    margin-left: 310px;
} */
.a:hover{
   text-decoration: underline;
}
